@use 'variables';

.container-fluid {
    margin: 0%;
    padding: 0%;
}

img {
    width: 100%;
    margin: 0px;
    
}

h1 {
    font-family: variables.$heading-font;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}